/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    flex-shrink: 0;
    background-image: url("/src/images/question-pattern.png");
    background-repeat: no-repeat;
}

.all-login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

html {
    min-height: 100%;
    background-image: url("/src/images/question-pattern-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.all-login-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    flex-shrink: 0;
    /* border: 5px solid red; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin-top: 180px;
    gap: 20px;
    /* border: 5px solid red; */
}

.box-branco {
    background-color: white;
    width: 735px;
    height: 398px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1.198px 4.79px 15.568px 2.395px rgba(0, 0, 0, 0.20);
}

input {
    width: 621.541px;
    height: 49.74px;
    border: 1.198px solid #E1E5EB;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 14px;
    display: flex;
}

.box-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 40px;
}

/* .box-name {
    width: 50px;
    height: 49.74px;
    flex-shrink: 0;
    padding: 14.37px;
    border: 10px solid yellow;
    margin-top: 941.48px;
    margin-bottom: 300px;
    margin-left: 40px;
} */

/* .box-email {
    width: 50px;
    height: 49.74px;
    flex-shrink: 0;
    border: 1.198px solid #E1E5EB;
    margin-top: 941.48px;
    margin-left: 40px;
} */

.btnPlay {
    width: 663.541px;
    height: 49.74px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4.79px 4.79px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(47, 193, 140);
    color: rgb(60, 27, 122);;
    font-size: 20px; 
    font-weight: bold;
    font-style: italic;
    /* margin-top: 230px; */
    /* margin-left: 45px; */
    /* line-height: 20px; */
    /* align-items: center; */
}

.logo {
    /* border: 5px solid red; */
    width: 200px;
    height: 200px;
}
